*{
    margin:0px;
    padding:0px;
}


.cabecalho{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0px;
}
.cabecalho-imagem{
    width:30%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0px 20px;
    font-size: 26px;
}
.livraria-imagem{
    width:30%; 
}
.livraria{
    background-image: linear-gradient(#FFFFFF, #F7E5D5, #FFD2A9);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px, 0px;
}
.livraria-div-conteudo{
    width: 38%;
}